html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  margin-top: 90px;
  font-family: "Rubik", "Arial", sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 1150px;
  padding-left: 25px;
  padding-right: 25px;
  margin-left: auto;
  margin-right: auto;

}

.header {
  background-image: linear-gradient(to right, #8d95ff, #5aafff);
  position: fixed;
  width: 100%;
  z-index: 1000;
  top: 0;
  box-shadow: 0 10px 20px -2px rgba(0, 0, 0, 0.2);
  left: 0;
}

.top-part {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-left: 4px solid rgb(255, 255, 255);
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 10px;
  height: 70px;
}

.different-part {
  color: #fff;
}

.logo-link {
  width: 100px;
  height: 100px;
  text-decoration: none;
  font-weight: 700;
  font-size: 45px;
  padding: 20px 20px 20px 10px;
  color: rgb(0, 0, 0);
  margin-top: 10px;
}

.nav-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
}

.nav-link {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 17px;
  font-weight: 500;
  padding: 20px 0;    
  position: relative;
  z-index: 1;
  font-weight: 700;
}

.nav-item:not(:first-child) {
  margin-left: 45px;
}

.nav-item:last-child {
  margin-right: 15px;
}

.nav-link:hover {
  color: rgb(196, 196, 196);
}

.section {
  background-color: #eef0ff;
}

.site-link {
  padding-left: 10px;
}

.navbar {
  display: flex;
  align-items: center;
}

.intro-section {
  margin: 0;
}

.intro-section {
  font-size: 28px;
  font-weight: 500;
  text-align: center;
  margin: 0;
  padding-top: 40px;
}

.box-one {
  width: 350px;
  background-color: #fff;
  padding: 15px 35px;
  border-radius: 5px;
  position: relative;
  z-index: 1;
}

.box-two {
  width: 350px;
  background-color: #fff;
  padding: 15px 35px;
  border-radius: 5px;
  position: relative;
  z-index: 1;
}

.box-three {
  width: 350px;
  background-color: #fff;
  padding: 15px 35px;
  border-radius: 5px;
  position: relative;
  z-index: 1;
}

.box-four {
  width: 350px;
  background-color: #fff;
  padding: 15px 35px;
  border-radius: 5px;
  position: relative;
  z-index: 1;
}

.box-five {
  width: 350px;
  background-color: #fff;
  padding: 15px 35px;
  border-radius: 5px;
  position: relative;
  z-index: 1;
}

.box-six {
  width: 350px;
  background-color: #fff;
  padding: 15px 35px;
  border-radius: 5px;
  position: relative;
  z-index: 1;
}

.boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 30px;
  margin-bottom: 50px;
}

.text-one {
  font-weight: 400;
  font-style: italic;
  font-size: 14px;
  color: #666;
}

.box-one::after {
  position: absolute;
  z-index: 1; 
  content: "";
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 15px solid #fff;
  margin-left: 5px;
  bottom: -9%;
}

.box-two::after {
  position: absolute;
  z-index: 1; 
  content: "";
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 15px solid #fff;
  margin-left: 5px;
  bottom: -9%;
}

.box-three::after {
  position: absolute;
  z-index: 1; 
  content: "";
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 15px solid #fff;
  margin-left: 5px;
  bottom: -9%;
}

.box-four::after {
  position: absolute;
  z-index: 1; 
  content: "";
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 15px solid #fff;
  margin-left: 5px;
  bottom: -9%;
}

.box-five::after {
  position: absolute;
  z-index: 1; 
  content: "";
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 15px solid #fff;
  margin-left: 5px;
  bottom: -9%;
}

.box-six::after {
  position: absolute;
  z-index: 1; 
  content: "";
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 15px solid #fff;
  margin-left: 5px;
  bottom: -9%;
}

.person-data {
  margin-top: 25px;
  margin-bottom: 70px;
  display: flex;
  margin-left: 30px;
}

.datas {
  margin-left: 10px;
  margin-top: 5px;
}

.one::before {
  content: "";
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-image: url("https://picsum.photos/50?random=1");
  display: block;
}

.two::before {
  content: "";
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-image: url("https://picsum.photos/50?random=2");
  display: block;
}

.three::before {
  content: "";
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-image: url("https://picsum.photos/50?random=3");
  display: block;
}

.four::before {
  content: "";
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-image: url("https://picsum.photos/50?random=4");
  display: block;
}

.five::before {
  content: "";
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-image: url("https://picsum.photos/50?random=5");
  display: block;
}

.six::before {
  content: "";
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-image: url("https://picsum.photos/50?random=6");
  display: block;
}

.name {
  margin: 0;
  padding-bottom: 5px;
  font-size: 16px;
  font-weight: 400;
}

.next-section {
  padding-top: 100px;
}

.profession {
  margin: 0;
  font-size: 14px;
  font-weight: 400;
}

.me {
  width: 200px;
  margin: 0 auto;
}


.me-text {
  margin: 0;
  padding-top: 10px;
  font-size: 25px;
  font-weight: 100;
  text-align: center;
  color: #222;
  padding-top: 10px;
  padding-bottom: 50px;
}

.career {
  width: 700px;
  margin: 0 auto;
  font-size: 20px;
  font-weight: 100;
  color: #666;
  text-align: center;
  padding-bottom: 50px;
  padding-bottom: 200px;
}

.projects {
  display: flex;
  flex-wrap: wrap;

}

.project-one {
  max-width: 400px;
  height: auto;
  border: 1px solid #999;
  border-radius: 3px;
  margin: 0;
}

.project-two {
  max-width: 400px;
  height: auto;
  border: 1px solid #999;
  border-radius: 3px;
  margin: 0;
}

.project-three {
  max-width: 400px;
  height: auto;
  border: 1px solid #999;
  border-radius: 3px;
  margin: 0;
}

.project-one:hover .apple-img {
  transform: scale(1.1);
  transition: transform 0.5s ease;
}

.project-two:hover .apple-img {
  transform: scale(1.1);
  transition: transform 0.5s ease;
}

.project-three:hover .apple-img {
  transform: scale(1.1);
  transition: transform 0.5s ease;
}

.more {
  width: 190px;
  margin-left: auto;
  margin-right: auto;
  text-decoration: none;
  padding: 15px 35px;
  border-radius: 50px;
  font-size: 18px;
  color: #fff;
  margin-top: 30px;
  justify-content: center;
  background-color: rgb(33, 96, 255);
  border: 2px solid transparent;
  margin-bottom: 100px;
}

.more:hover {
  border: 2px solid rgb(33, 96, 255);
  color: rgb(33, 96, 255);
  background-color: #fff;
}

.footer {
  margin-top: 50px;
  border-top: 3px solid rgb(201, 201, 201);
  padding: 50px 0 80px 0;
}

.social-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.items:not(:last-child) {
  margin-right: 12px;
}

.links {
  text-decoration: none;
  color: #999;
}
